PORT=8000
DATABASE_URL=postgresql://neondb_owner:npg_zW8oQAj7SBuK@ep-fancy-cell-ay3onbd2-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

IPFS_GATEWAY=https://ipfs.io/ipfs/
S3_BUCKET_NAME=truthchain-evidence

ASSESSMENT_CONTRACT_ADDRESS=0x624528e80FBE781bDDe8A91EA2A8C8c3DD5abB3B
BLOCKCHAIN_PROVIDER=https://eth-sepolia.g.alchemy.com/v2/alch_lR6W6tgtIiZDGvbAeMmWo